    body {
        background-color: darkslategray;
        color: white;
}
    }
    h1 {
        color: white;
        text-align: center;
        text-decoration-color: goldenrod;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
    }
    ul {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-variant: initial;
        color: white;

    }
    h2 {
        background-color:burlywood;
        text-align: center;
        font-family: cursive;
        text-shadow: 2px 2px #ff0000;
        color: white;
    }
    p {
        color: white;
        font-family: cursive;
        font-size: 15px;
    }
    #Studies {
        background-color: cornflowerblue;
        text-decoration: underline;
        color: thistle;
    }
    h3 {
        color: wheat;
        font-family: cursive;
        font-size: 15px;
    }
    table, th,td,tr {
        border: 2px solid black;
        color: wheat;
     }
     .p-welcome {
        color:white;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        text-align: justify;
     }
     .img-container {
        text-align: center;

.CSS {
    color: darkred;
}
.table1, th, td, tr{
    border: 0px solid darkslategray;
    border-width: thin;
    border-color: darkslategray;
}